body{
    background-image: url("./background1.jpg"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
  
  }
  .custom-table {
    /* margin-top: 80px; */
    border-collapse: separate;
    margin: 20px 0;
    width: 100%;
    border: none;
    border-radius:30px;
  }
  #title{
    margin-top: 10px;
    /* margin-left: 35%;
     */
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .table-header{
      border:3px solid black;
      padding: 10px;
      text-align: center;
      user-select: none;
      color: rgb(0, 0, 0);
      border-radius: 15px;
      background-color: #b68c53;
    }
  .table-cell {
    border: 3px solid rgb(0, 0, 0);
    padding: 120px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    text-align: center;
    width: 25%; /* Set equal width for each column */
    border-radius: 15px;
    /* background-image: url('./background1.jpg');
    background-size: 100%; */

    /* background-color: #b7e5d8; */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  .cardposition{
    border: 0px solid whitesmoke;
    margin-left: 30px;
    background-color: rgb(179, 246, 176);
    border-radius: 20px;
  }
  
  .draggable {
    display: inline-block;
    position: relative;
    font-weight: bold;
    user-select: none;
    border-radius: 10px; /* added border radius */
    border: 1px solid #ccc; /* changed border color and style */
    padding: 20px; /* increased padding for better alignment */
    margin: 10px; /* increased margin for better spacing */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f09a89; /* changed background color */
    cursor: move;
    box-shadow: 0 0 10px rgba(194, 202, 176,0.3); /* added box shadow */
  }
  .correct-drop {
    background-color: green !important;
    color: white;
  }
  

  .draggable:hover {
    transform: scale(1.09); /* added hover effect */
    box-shadow: 0 0 20px rgba(144, 174, 173, 0.9); /* increased box shadow on hover */
  }
  
  #nextbutton,#submitbutton,#logdata{
    background-color: #4a536b;
    color: white;
  }

  @keyframes correctDropAnimation {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(-20px); opacity: 0.5; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes wrongDropAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .correct-drop {
    animation: correctDropAnimation 0.5s ease;
  }
  
  .wrong-drop {
    animation: wrongDropAnimation 0.5s ease;
  }
  .hover-animation {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-animation:hover {
    transform: scale(1.1);
  }
  