body{
    background-color: rgb(48, 218, 231);
    background-size:cover;
    user-select: none;
  
  }
  .custom-table {
    border-collapse: separate;
    margin: 20px 0;
    width: 100%;
    border: none;
    border-radius:30px;
  }
  
  .table-header{
      border:3px solid black;
      padding: 10px;
      text-align: center;
      user-select: none;
      color: rgb(255, 255, 255);
      border-radius: 15px;
      background-color: #b68c53;
    }
  .table-cell {
    border: 3px solid rgb(0, 0, 0);
    padding: 120px; 
    font-size: 16px;
    text-align: center;
    width: 25%; 
    border-radius: 15px;
  }
  
  /* .cardposition{
    border-radius: 20px;
  } */
  
  .draggable {
    display: inline-block;
    position: relative;
    font-weight: bold;
    user-select: none;
    gap:5px;
    border-radius: 20px; /* added border radius */
    border: 3px solid #000000; /* changed border color and style */
    padding: 20px; /* increased padding for better alignment */
    margin: 10px; /* increased margin for better spacing */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(234, 220, 200); /* changed background color */
    cursor: move;
    box-shadow: 0 0 20px rgba(194, 202, 176,0.3) -0 -0 20px rgba(194,202,166,0.3); /* added box shadow */
    transform:scale(1.09);
  }
  .correct-drop {
    background-color: green !important;
    color: white;
  }
  .wrong-drop{
    background-color: red !important;
    color: white;
    transition: 0.2sec;
  }
  

  .draggable:hover {
    transform: scale(1.09); /* added hover effect */
    box-shadow: 0 0 20px rgba(144, 174, 173, 0.9); /* increased box shadow on hover */
  }
  
  #nextbutton,#submitbutton,#logdata{
    background-color: #ec8f0c;
    color: white;
    font : bold;
    width:120px;
    border-radius: 20px;
    transition: all 0.2s ease;

  }
  #nextbutton:hover,#submitbutton:hover,#logdata:hover{
    background-color: #ec8f0c;
    color: white;
    font : bold;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Increased shadow for 3D effect */
    transform: translate(-2px, -2px); /* Slight movement for depth illusion */
  }
  @keyframes correctDropAnimation {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(-20px); opacity: 0.5; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes wrongDropAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .correct-drop {
    animation: correctDropAnimation 0.5s ease;
  }
  
  .wrong-drop {
    animation: wrongDropAnimation 0.5s ease;
  }
  .hover-animation {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-animation:hover {
    transform: scale(1.1);
  }
  